body {
  background-color: #1e2022;
  color: #f0f5f9;
}

.main-container {
  background-color: #52616b;
  max-width: 80%;
  margin: 0 auto;
}
.section1 {
  display: flex;
  flex-direction: column;
}

.top-container {
  display: flex;
  margin: 40px 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  text-wrap: wrap;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 20px;
}

.id {
  margin: 0 40px;
}

.about {
  padding: 0 20px;
}

.section2 {
  display: flex;
  margin: 10px;
  padding: 0 10px;
  flex-wrap: wrap;
}

.history {
  width: 60%;
}

.job {
  display: flex;
  justify-content: space-between;
}

h4 {
  margin: 0;
}

aside {
  padding: 10px;
  width: 30%;
  margin: 0 20px;
}

h2 {
  color: #c9d6df;
}

a {
  color: #1e2022;
  text-decoration: none;
}

.bar {
  background-color: grey;
  height: 10px;
  width: 100%;
  align-self: center;
  margin-left: 5px;
  border-radius: 10px;
  animation: progress 3s ease-in;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.progress-html {
  background-color: red;
  width: 80%;
  height: 10px;
  border-radius: 10px;
}

.progress-css {
  background-color: blue;
  width: 60%;
  height: 10px;
  border-radius: 10px;
  border-radius: 10px;
}

.progress-js {
  background-color: yellow;
  width: 90%;
  height: 10px;
  border-radius: 10px;
}
.progress-react {
  background-color: lightblue;
  width: 80%;
  height: 10px;
  border-radius: 10px;
}
.progress-node {
  background-color: green;
  width: 70%;
  height: 10px;
  border-radius: 10px;
}

.progress-express {
  background-color: yellowgreen;
  width: 80%;
  height: 10px;
  border-radius: 10px;
}
.progress-mongo {
  background-color: lightgreen;
  width: 80%;
  height: 10px;
  border-radius: 10px;
}
.progress-java {
  background-color: orangered;
  width: 45%;
  height: 10px;
  border-radius: 10px;
}

.progress-git {
  background-color: orange;
  width: 70%;
  height: 10px;
  border-radius: 10px;
}

ul li {
  list-style: none;
}

.demo-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: #c9d6df;
}

.demo-btn:hover {
  background-color: #52616b;
}

@media screen and (max-width: 816px) {
  .top-container {
    justify-content: flex-start;
  }

  .history {
    width: 100%;
  }

  .skills-projects {
    width: 100%;
  }
}
